[user]
	email = zach.fuller1222@gmail.com
	name = Zach Fuller
	signingkey = ~/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[core]
	editor = vim
	excludesFile = ~/.gitignore
[fetch]
	prune = true
	writeCommitGraph = true
[push]
	autoSetupRemote = true
[commit]
	verbose = true
	gpgsign = true
[merge]
	conflictStyle = zdiff3
[rebase]
	autosquash = true
[rerere]
	enabled = true
	autoupdate = true
[diff]
	algorithm = histogram
[pull]
	rebase = true
[color]
	ui = true
[help]
	autocorrect = 10
[gpg]
	format = ssh
